<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2015-07-07">
    <action type="trying">
      Phoenix framework
    </action>
    <references>
      <reference src="http://www.phoenixframework.org/" type="source" />
    </references>
  </event>
</events>
