<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2015-07-20">
    <action type="reading">Introducing Elixir Chapter 1</action>
    <references>
      <reference src="http://www.amazon.com/Introducing-Elixir-Getting-Functional-Programming" type="source" />
    </references>
  </event>
  <event date="2015-07-20">
    <action type="reading">Sure, why not bowling in Elixir?</action>
    <references>
      <reference src="http://www.ronjeffries.com/articles/015-jul/elixir-bowling/" type="source" />
    </references>
  </event>
  <event date="2015-07-20">
    <action type="reading">Git Disciplined</action>
    <references>
      <reference src="http://blog.8thlight.com/makis-otman/2015/07/08/git-disciplined.html" type="source" />
    </references>
  </event>
  <event date="2015-07-14">
    <action type="studying">Playing around the Phoenix Framework with a simple project</action>
    <references>
      <reference src="https://github.com/pdincau/cromer" type="source" />
    </references>
  </event>
  <event date="2015-07-08">
    <action type="reading">
      Scrum is not our saviour
    </action>
    <references>
      <reference src="http://www.higginsninja.net/blog/scrum-is-not-our-saviour/" type="source" />
    </references>
  </event>
  <event date="2015-07-07">
    <action type="studying">
      Swift language - from page 21 to page 30
    </action>
    <references>
      <reference src="https://developer.apple.com/library/mac/documentation/Swift/Conceptual/Swift_Programming_Language" type="source" />
    </references>
  </event>
  <event date="2015-07-07">
    <action type="trying">
      Phoenix framework
    </action>
    <references>
      <reference src="http://www.phoenixframework.org/" type="source" />
    </references>
  </event>
</events>
